@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Great+Vibes&family=Dancing+Script:wght@400;700&family=Pinyon+Script&family=Alex+Brush&display=swap');
@import 'tailwindcss';


@theme {
	/* Your existing colors... */
	--color-shadow-gold: #F5C45E;
  --color-wedding-gold: #FFEC9E;
  --color-light-maroon: #F2E8C6;
  --color-dark-maroon: #F2E8C6;
  --color-dark-red: #9A3F3F;
  --color-text-light-brown: #C1856D;
  --color-custom-orange: #FFA725;
  --color-custom-white: #FFFCFB;
  --color-custom-yellow: #E8C999;
  --color-light-yellow: #FEF9E1;
  --color-bg-white: #f0f8f5;
  --color-secondary-text: #4a5d4e;
  --color-primary-text: #d4af37;

  --font-script: 'Great Vibes', cursive;
  --font-allura: 'Allura', cursive;
}